<!DOCTYPE html>

<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Department of Accountancy</title>
    <link rel="stylesheet" type="text/css" href="../css/ACdepartment2.css"/>
</head>
<body>
<!-- Header -->
<div class="ac_outer">
<div class="header_inner">
 <div class="brand">City University of Hong Kong</div>
<div class="Department_header_title">
 <h1>Department of Accountancy</h1> <h3>e-Circular</h3>
    <h4>PROFESSIONAL & ETHICAL LEADERS FOR BUSINESS CHALLENGES</h4>
</div>
<div class="AClogo">
    <img src="../image/layout/AC_logo.jpg";>
</div>
</div>
</div>


<!-- Header -->
<!-- Body -->
<div class="ac_outer">
<div class="photo_statment_inner">

  <h3><a href="http://www.cb.cityu.edu.hk/ac/research/">Research & Scholarly Activities</a></h3>
  <div class="issue"><b>Issue 04</b></div>
  <table class="tablt_width">
    <tbody>
        <tr>
            <td valign="top"><img class="priture" src="../image/research seminar_01.jpg" style="width:200px"></td>
            <td valign="top"><h4><font color="blue">Publication and Academic Workshops</font></h4>
            <span>
             Please <a href="http://www.cb.cityu.edu.hk/ac/research/publications/Top%2Dtier/"><b><i>click the link</b></i></a> to see the list of top-tier publications.<br><br>
             Please <a href="https://www.cb.cityu.edu.hk/ac/research/seminars/"><b><i>click the link</b></i></a> to see the list of seminars and brown bag workshops held in 2018.
            </span>
            </td>
        </tr>
        <tr>
            <td valign="top"><img class="priture" src="../image/socialenterprise.jpg" style="width:200px"></td>
            <td valign="top"><br><font size="3em"><b><a href="../layout/Resource/Social enterprises_30 Oct 18_checked_V2.pdf">"Enhancing the Competitiveness of Social Enterprises in Hong Kong: A Three-Dimensional Analysis" seminar on 30 October 2018</a></b></font>
            </td>
        </tr>


    </tbody>
  </table>

    <h3><a href="http://www.cb.cityu.edu.hk/ac/events/news/">Teaching and Learning Activitess</a></h3>
  <table class="tablt_width">
    <tbody>
        <tr>
            <td valign="top"><img class="priture" src="../image/mervynking.jpg" style="width:200px"></td>
            <td valign="top"><br><font size="3em"><b><a href="../layout/Resource/HKICS lecture of Prof King-checked.pdf">HKICS-Professor Mervyn King's lecture to MScPACG-CG Stream Students on 15 September 2018</a></b></font>
            </td>
        </tr>
           <tr>
            <td valign="top"><img class="priture" src="../image/expertTalk.jpg" style="width:200px"></td>
            <td valign="top"><br><font size="3em"><b><a href="../layout/Resource/Article on 4 DEC_checked.pdf">Expert Talk to 40 Senior Secondary School Students on 4 December 2018</a></b></font>
            </td>
        </tr>
    </tbody>
  </table>

  <h3><a href="http://www.cb.cityu.edu.hk/ac/events/news/">Student-related Activities</a></h3>
  <table class="tablt_width">
    <tbody>
        <tr>
            <td valign="top"><img class="priture" src="../image/maia.jpg" style="width:200px"></td>
            <td valign="top"><br><font size="3em"><b><a href="../layout/Resource/Gather to gather with 2018 MAIA and MScPACG_checked.pdf">Gather-to-gather with MAIA & MScPACG Graduates on 4 Decemeber 2018</a></b></font>
            </td>
        </tr>
           <tr>
            <td valign="top"><img class="priture" src="../image/graduationCeremony.jpg" style="width:200px"></td>
            <td valign="top"><br><font size="3em"><b><a href="../layout/Resource/AC Graduation Ceremony 2018.pdf">Department of Accountancy Graduation Ceremony on 5 Decemeber 2018</a></b></font>
            </td>
        </tr>

    </tbody>
  </table>

  <h3><a href="http://www.cb.cityu.edu.hk/ac/students/">Alumni Activities</a></h3>
  <table class="tablt_width">
    <tbody>
      <tr>
       <td valign="top"><br><img class="priture" src="../image/award.jpg" style="width:200px"></td>
       <td valign="top"><br>
        <span>
         <br><font size="3em"><b><a href="http://www.cb.cityu.edu.hk/media/news/2018/10/college-of-business-distinguished-alumni-award-2018.html">College of Business Distinguished Alumni Award 2018 (Ms Mabel Chan Mei Bo and Dr Venus Tang Lai Wah)</a></b></font><br>
        </span>
       </td>
   </tr>
           <tr>
            <td valign="top"><br><img class="priture" src="../image/picture 03.jpg" style="width:200px"></td>
            <td valign="top"><br>
             <span>
              <br><font size="3em"><b><a href="../layout/Resource/Professional Seminar_17 Nov Checked.pdf">Professional Seminar: Session Three “Commercial Crime, Including But Not Limited to Market Misconduct, Property Fraud, Money Laundering, and Cybercrime” on 17 November 2018</a></b></font><br>
             </span>
            </td>
        </tr>
    </tbody>
  </table>



    <h3><a href="http://www.cb.cityu.edu.hk/ac/events/news/">Other Activities</a></h3>
  <table class="tablt_width">
    <tbody>
     <tr>
            <td valign="top" style="float: left;"><br><img class="priture" src="../image/christmasParty.jpg" style="width:200px"></td>
            <td valign="top" style="float: left;">
            <br><span>
             <br><font size="3em"><b><a href="../layout/Resource/Department of Accountancy Christmas Party on 6 December 2018.pdf">Department of Accountancy Christmas Party on 6 December 2018</b></a></font><br></span>
            </td>
        </tr>
    </tbody>
  </table>

      <h3><a href="http://www.cb.cityu.edu.hk/ac/contact">Contact Us</a></h3>
  <table class="tablt_width">

  </table>
</div>
</div>
<!-- Body -->
<!-- Footer -->

<footer class="ac_outer">
<div class="footer_inner">
<div class="footer_inner_2">
 <h4><span>Location : 13-200, 13/F, Lau Ming Wai Academic Building<br><span>
    <span>Phone: + 852 3442-7760</span>  <span>Fax: +852 3442-0349 </span> <span>Email:  acgo@cityu.edu.hk </span></h4>
 <a href="http://www.cb.cityu.edu.hk/ac/"><img src="../image/layout/home_icon3.png" style="height:33px; width:33px;"></a><a href="https://www.facebook.com/CityU.BBA.Accountancy/"><img src="../image/layout/facebook_icon3.png" style="height:33px; width:33px;"></a>
</div>
</div>
</footer>

<!-- Footer -->
</body>
</html>
